:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --white-color: #ffffff;
    --transparent-white-color: rgba(255, 255, 255, 0.6);
    --black-color: #000000;
    --dark-bg-color: #2F303A;
    --light-gray-bg-color: #E5E5E5;
    --gray-bg-color: #F5F4FA;
}    
body {
   color:var(--primary-text-color);
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

/* header */
.logo {
    color:var(--black-color);
}
.logo-item {
    color:var(--accent-color);
}
.site-nav .link {
    color:var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus  {
    color:var(--accent-color);
}
.site-nav .link.current {
    color:var(--accent-color);
}
.contacts .link {
    color:var(--primary-text-color);   
}
.contacts .link:hover,
.contacts .link:focus {
    color:var();
}

/* footer */
.footer {
    background-color:var(--dark-bg-color);
}
.footer .logo {
    color:var(--white-color);
}
.address-info .address,
.address-info .mail,
.address-info .phone {
    color:var(--transparent-white-color);
}
.address-info .address:hover, 
.address-info .address:focus,
.address-info .mail:hover,
.address-info .mail:focus,
.address-info .phone:hover, 
.address-info .phone:focus {
    color:var(--white-color);
}

/* main */
.hero {
    background-color:var(--dark-bg-color);
}
.hero .hero-title{
    color:var(--white-color);
}
.list .list-title,
.section .section-title {
    color:var(--title-text-color);
}

.button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button.primary { /*! обрацаюсь к элемент с двумя этими классами классами */
    color:var(--white-color);
    background-color:var();
}
.advantages,
.what-we-do {
    background-color:var(--gray-bg-color);
}
.team {
    background-color:var(--light-gray-bg-color);
}
