:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --white-color: #ffffff;
    --transparent-white-color: rgba(255, 255, 255, 0.6);
    --black-color: #000000;
    --dark-bg-color: #2F303A;
    --light-gray-bg-color: #E5E5E5;
    --gray-bg-color: #F5F4FA;

    --primary-font-family: 'Roboto';
    --accent-font-family: 'Raleway';

}    
body {
   color:var(--primary-text-color);

   font-family:var(--primary-font-family);
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

/* header */
.page-hader{
    background-color:var(--white-color);
}
.logo {
    color:var(--black-color);

    font-family:var(--accent-font-family);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.logo-item {
    color:var(--accent-color);
}
.site-nav .link,
.contacts .link {
    color:var(--title-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus  {
    color:var(--accent-color);
}
.site-nav .link.current {
    color:var(--accent-color);
}
.contacts .link {
    color:var(--primary-text-color); 
}


/* main */
.hero {
    background-color:var(--dark-bg-color);
}
.hero .hero-title{
    color:var(--white-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    text-align: center;
}
.list .list-title,
.section .section-title {
    color:var(--title-text-color);
}
.list .list-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.advantages .description{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.button {
    border: none;
    border-radius: 4px;
    cursor: pointer;

    font-family: inherit;
}
.button.primary { /*! обращаюсь к элемент с двумя этими классами классами */
    color:var(--white-color);
    background-color:var(--accent-color);

    font-weight: 700;
    font-style: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}
.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.position-item .list-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    text-transform: none;
    letter-spacing: 0.03em;
}
.position-item .description {
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.advantages,
.what-we-do {
    background-color:var(--gray-bg-color);
}
.team {
    background-color:var(--light-gray-bg-color);
}

/* footer */
.page-footer {
    background-color:var(--dark-bg-color);
}
.page-footer .logo {
    color:var(--white-color);
}
.address-info .address,
.address-info .mail,
.address-info .phone {
    color:var(--transparent-white-color);
}
.address-info .address:hover, 
.address-info .address:focus,
.address-info .mail:hover,
.address-info .mail:focus,
.address-info .phone:hover, 
.address-info .phone:focus {
    color:var(--white-color);
}
.address-info .link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* page-portfolio */
.portfolio {
    background-color:var(--white-color);   
}
.filter .button {
    background-color:var(--gray-bg-color);
    color:var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
}
.filter .current {
    background-color:var(--accent-color);
    color:var(--white-color);
}
.filter .button:hover,
.filter .button:focus {
    background-color:var(--accent-color);
    color:var(--white-color);
}
.portfolio-item .list-title {
    text-transform: none;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.portfolio-item .description {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}